h1 {
	color: blue;
}
h2{
	color: blue;
}
h3{
	color: grey;
}
body{
	background-color: lightblue;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 12px;
}
p{
	max-width: 1000px;
}
.header{
	background-color: mediumspringgreen;
}
